export(clt, coalescent.plot, drift.selection, founder.event, freqdep, genetic.drift, hardy.weinberg, hawk.dove, msd, multilocus.hw, mutation.selection, phenotype.freq, phenotype.selection, rcd, selection, sexratio)

S3method(print, clt)
S3method(plot, clt)
S3method(print, coalescent.plot)
S3method(plot, coalescent.plot)
S3method(print, drift.selection)
S3method(plot, drift.selection)
S3method(print, founder.event)
S3method(plot, founder.event)
S3method(print, freqdep)
S3method(plot, freqdep)
S3method(print, genetic.drift)
S3method(plot, genetic.drift)
S3method(print, hawk.dove)
S3method(plot, hawk.dove)
S3method(print, msd)
S3method(plot, msd)
S3method(print, mutation.selection)
S3method(plot, mutation.selection)
S3method(print, phenotype.freq)
S3method(plot, phenotype.freq)
S3method(print, selection)
S3method(plot, selection)
S3method(print, sexratio)
S3method(plot, sexratio)

importFrom(graphics, abline, axis, barplot, hist, layout, legend, lines, par, plot, plot.new, plot.window, points, rect, text, title)
importFrom(grDevices, dev.flush, dev.hold, rainbow)
importFrom(gtools, permutations)
importFrom(methods, hasArg)
importFrom(phytools, make.transparent)
importFrom(stats, rbinom, rexp, rnorm, runif, setNames)
